<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Chats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>TRASH</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <ion-list>

    <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Shopee Xpress</h2>
        <p>You parcel is out for delivery! call the r...</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Jake</h2>
        <p>Uy !! Where na you?</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>John</h2>
        <p>Pakopya module 5 hehe.</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Rein</h2>
        <p>Girl!! Happy Birthday!!</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Nina</h2>
        <p>Punta ka sa birthday ko ha!!</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Quincy</h2>
        <p>Pa send ako ng module 1-3 asap!</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Christina</h2>
        <p>Pahingi sagot sa module 3 hahaha!</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary"><ion-icon class="unread" name="mail-unread-outline"></ion-icon></ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger"><ion-icon class="trash-bin" name="trash-bin-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
    </ion-list>
</ion-content>
