<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Your Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-img src="assets/images/image-1.jpg"></ion-img>
    <ion-card-content>
   Ang ganda ng vieww!!!
  </ion-card-content>
  <ion-chip color="primary">
    <ion-icon class="chip-feed" name="camera-outline"></ion-icon>
    <ion-label>Nature Photography</ion-label>
  </ion-chip>
     <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-subtitle><ion-icon name="heart"></ion-icon>&nbsp;3k likes</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Posted: Sept 25, 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-img src="assets/images/image-2.jpg"></ion-img>
    <ion-card-content>
      Ang sarap maligo sa falls.
  </ion-card-content>
  <ion-chip color="primary">
    <ion-icon class="chip-feed" name="camera-outline"></ion-icon>
    <ion-label>Nature Photography</ion-label>
  </ion-chip>
     <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-subtitle><ion-icon name="heart"></ion-icon>&nbsp;3k likes</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Posted: Sept 26, 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-img src="assets/images/image-3.jpg"></ion-img>
    <ion-card-content>
      Mingming: Always wear your face mask!
  </ion-card-content>
  <ion-chip color="primary">
    <ion-icon class="chip-feed" name="camera-outline"></ion-icon>
    <ion-label>Safety</ion-label>
  </ion-chip>
     <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-subtitle><ion-icon name="heart"></ion-icon>&nbsp;5k likes</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Posted: Sept 27, 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-img src="assets/images/image-4.jpg"></ion-img>
    <ion-card-content>
      Miming ko wala sa mooood
  </ion-card-content>
  <ion-chip color="warning">
    <ion-icon class="chip-mood" name="happy-outline"></ion-icon>
    <ion-label>Moody</ion-label>
  </ion-chip>
     <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-subtitle><ion-icon name="heart"></ion-icon>&nbsp;6k likes</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Posted: Sept 29, 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-img src="assets/images/image-5.jpg"></ion-img>
    <ion-card-content>
      Ang kyut kyut mo ming ming!!!
  </ion-card-content>
  <ion-chip color="primary">
    <ion-icon class="chip-feed" name="camera-outline"></ion-icon>
    <ion-label>My pretty cat</ion-label>
  </ion-chip>
  <ion-grid>
    <ion-row>
      <ion-col class="likes">
        <ion-card-subtitle><ion-icon name="heart"></ion-icon>&nbsp;10k likes</ion-card-subtitle>
      </ion-col>
      <ion-col class="date-col">
        <ion-card-subtitle>Posted: Sept 29, 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-card>
  </ion-content>

