<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Archive Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-grid>
            <ion-row>
              <ion-col>
                <ion-img src="assets/images/cat-1.jpg"></ion-img>
              </ion-col>
              <ion-col>
                <ion-img src="assets/images/cat-2.jpg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-img src="assets/images/cat-3.jpg"></ion-img>
              </ion-col>
              <ion-col>
                <ion-img src="assets/images/cat-4.jpg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-img src="assets/images/cat-5.jpg"></ion-img>
              </ion-col>
              <ion-col>
                <ion-img src="assets/images/cat-6.jpg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
</ion-content>
